<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="index.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <title>PH DEVS DIR</title>
</head>
<body>
  <div class="header">
    <div class="logo">PHDEVSDIR</div>
    <div class="search">
      <input placeholder="Search by skill or name">
    </div>
  </div>
  <div class="developers">
    <div class="developer">
      <div class="profile-pic">
        <img src="https://avatars3.githubusercontent.com/u/9336187?v=4&s=460">
      </div>
      <div class="profile-data">
        <span class="developer-name">
          Francis Sunday
          <span title="Verified Skills" class="v-badge">Verified</span></span>
        <span>
          <span class="tech">Go Lang</span>
          <span class="tech">PHP</span>
          <span class="tech">React</span>
        </span>
        <span><a target="_blank" href="https://github.com/codehakase">View on Github</a></span>
      </div>
    </div>
    <div class="developer">
      <div class="profile-pic">
        <img src="https://avatars2.githubusercontent.com/u/24508232?v=4&s=460">
      </div>
      <div class="profile-data">
        <span class="developer-name">
          Joseph Uchenna
          <span title="Verified Skills" class="v-badge">Verified</span></span>
        <span>
          <span class="tech">JavaScript</span>
          <span class="tech">PHP</span>
          <span class="tech">MySQL</span>
        </span>
        <span><a target="_blank" href="https://github.com/afrikhero">View on Github</a></span>
      </div>
    </div>
    <div class="developer">
      <div class="profile-pic">
        <img src="https://avatars1.githubusercontent.com/u/25697914?v=4&s=460">
      </div>
      <div class="profile-data">
        <span class="developer-name">
          Ndifreke Friday
          <span title="Verified Skills" class="v-badge">Verified</span></span>
        <span>
          <span class="tech">JavaScript</span>
        </span>
        <span><a target="_blank" href="https://github.com/NddyAndy">View on Github</a></span>
      </div>
    </div>
    <div class="developer">
      <div class="profile-pic">
        <img src="https://avatars3.githubusercontent.com/u/15184445?v=4&s=460">
      </div>
      <div class="profile-data">
        <span class="developer-name">
          Michael Ozoemena
        </span>
        <span>
          <span class="tech">React</span>
          <span class="tech">PHP</span>
          <span class="tech">Python</span>
        </span>
        <span><a target="_blank" href="https://github.com/THEozmic">View on Github</a></span>
      </div>
    </div>
  </div>
</body>
</html>
