body, html {
    font-family: 'Dosis', sans-serif;
    margin: 0px;
}
.developers {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.developer {
    display: inline-block;
    width: 250px;
    box-shadow: 0px 0px 8px 1px #d4d1d1;
    border-radius: 3px;
    margin: 10px;
    text-align: left;
}

.developer > .profile-pic > img {
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.profile-data {
    padding: 10px;
    color: #454545;
}

.profile-data > span {
    display: block;
    width: 100%;
    margin: 5px;
}

.developer-name {
    font-size: 25px;
}

.tech {
    padding: 5px;
    background-color: #2196F3;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    margin-right: 5px;
}

.profile-data a {
    font-size: 12px;
    text-decoration: none;
    padding: 5px;
    background-color: #607D8B;
    color: #fff;
    margin-top: 10px;
    display: inline-block;
    border-radius: 3px;
}

.v-badge {
    font-size: 10px;
    background-color: #009688;
    padding: 3px 5px;
    border-radius: 3px;
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
}

.exp {
    font-size: 12px;
    display: inline;
    width: unset !important;
    padding: 5px;
    border-radius: 3px;
    background-color: #FF9800;
    box-shadow: 0px 0px 3px 1px rgba(128, 128, 128, 0.33);
    color: #fff;
}

.header {
    height: 50px;
    background-color: #2195f3;
    box-shadow: 0px 3px 10px 0px #bdbcbc;
    padding: 0px 7px;
}

.logo {
    display: inline-block;
    font-size: 30px;
    color: #fff;
    margin: 5px;
}

.search {
    display: inline-block;
    float: right;
    margin: 5px;
    padding: 5px;
    margin-right: 0px;
}

.search > input {
    padding: 10px;
    border-radius: 3px;
    border: none;
}
